---
import Layout from "../layouts/layout.astro"

---

<Layout title="Acerca del sitio">
    <h1>About</h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis repudiandae magnam necessitatibus quasi tempora saepe enim consequuntur corporis similique cupiditate! 
       Laudantium similique placeat reprehenderit repellat, aliquam delectus nisi dolorum, maiores distinctio totam nesciunt autem omnis iusto, sapiente et a soluta ad sed alias?
       Cumque autem illo molestias distinctio consectetur atque, ipsa nesciunt pariatur excepturi! Eveniet omnis alias recusandae mollitia labore, vero praesentium tempore soluta 
       saepe accusamus, laudantium eligendi cupiditate nobis maxime doloremque nam ipsum velit commodi fugit quos iusto provident dolore et error! Alias eligendi suscipit, debitis 
       optio iste velit natus possimus voluptatum nam omnis asperiores aspernatur totam quo quidem!
    </p>
</Layout>